SLURM_PARTITION=
SLURM_CPUS=
SLURM_GPUS=
SLURM_MEM=

NGROK_AUTHTOKEN=
NGROK_URL=

# python3 -c "import secrets; print(secrets.token_urlsafe(32))"
FLUX_API_KEY=
HF_TOKEN=

MODEL=
QUANTIZATION=

STEPS=
GUIDANCE=
FLUX_API_PORT=
